---
import IndexLayout from "../layouts/IndexLayout.astro";
import ExperienceCard from "../components/ExperienceCard.astro";
import ProjectCard from "../components/ProjectCard.astro";
import StickySection from "../components/StickySection.astro";
import Header from "../components/Header.astro";
import AnimatedLink from "../components/AnimatedLink.astro";

import craiyon from "../assets/images/craiyon-server.jpg";
import upiIndia from "../assets/images/upi-india.png";
import ccm from "../assets/images/ccm.png";
import markdownMate from "../assets/images/markdown-mate.png";
---

<IndexLayout title="Md Azharuddin">
  <Header slot="header" />
  <Fragment slot="main">
    <StickySection sectionTitle="About" id="about">
      <p>
        Since my initial foray into the world of programming, the allure of
        crafting innovative solutions through code has been an enduring passion
        for me. Over the course of my journey, I've immersed myself in the
        intricacies of scripting, web development, android app creation, and
        even delved into the realm of machine learning.
      </p>
      <p>
        Presently, my focus lies in the dynamic arena of designing, developing,
        and enhancing web applications for a key client at TCS. Concurrently, I
        dedicate my free time to the pursuit of creating compelling projects and
        embracing emerging technologies. Beyond the confines of the digital
        screen, you'll often find me exploring the charm of <a
          href="https://maps.app.goo.gl/Xf5Ve1mzSS4eGK266"
          target="_blank"
          class="inline-link interactable"
          title="My current location">nearby locales</a
        > or indulging in the art of <a
          href="https://en.wikipedia.org/wiki/Origami"
          target="_blank"
          class="inline-link interactable"
          title="Origami">paper folding</a
        >.
      </p>
    </StickySection>
    <StickySection sectionTitle="Experience" id="experience">
      <ExperienceCard
        start="oct 2021"
        end="present"
        company="TCS"
        link="https://www.tcs.com/"
        role="Full-stack Developer"
        skills={[
          "HTML",
          "CSS",
          "JavaScript",
          "TypeScript",
          "Node.js",
          "Express",
          "React",
          "Redux",
          "MySQL",
          "REST APIs",
          "Docker",
          "Kubernetes",
        ]}
      >
        <ul class="pl-3 mb-0">
          <li>
            Led a team in developing an internal ticket management tool with a
            microservices architecture.
          </li>
          <li>
            Utilized Node.js and React to create a robust application deployed
            as a Kubernetes cluster.
          </li>
          <li>
            Switched to TypeScript for bug reduction and conducted code review
            and optimization to improve app performance.
          </li>
          <li>
            Developed a role-based access-controlled file management module,
            reducing access management overhead significantly.
          </li>
          <li>
            Led development of a budget management and forecasting tool with
            Node.js and React.
          </li>
          <li>
            Automated manual budget allocation processes and integrated
            seamlessly with other tools using RESTful APIs.
          </li>
          <li>
            Established connections to internal tools through message brokers.
          </li>
          <li>
            Orchestrated cross-functional collaboration, implemented numerous
            features, and conducted impactful demo sessions, driving user
            engagement.
          </li>
        </ul>
      </ExperienceCard>
      <ExperienceCard
        start="jul 2021"
        end="oct 2021"
        company="TCS"
        link="https://www.tcs.com/"
        role="Automation Engineer"
        skills={["Python", "Groovy", "Shell Script", "Jenkins"]}
      >
        <ul class="pl-3 mb-0">
          <li>
            Created automation scripts using Python and Shell script to
            streamline manual tasks for network engineers, significantly
            reducing time.
          </li>
          <li>
            Deployed pipelines with Jenkins and Groovy for deployment
            verification and data synchronization with internal management
            tools.
          </li>
        </ul>
      </ExperienceCard>
      <ExperienceCard
        start="jan 2021"
        end="feb 2021"
        company="Bipolar Factory"
        link="https://www.bipolarfactory.com/"
        role="Intern"
        skills={["Dart", "Flutter", "Firebase"]}
      >
        <p>
          I worked here as a Flutter developer intern and helped in creating an
          attendance monitoring app.
        </p>
      </ExperienceCard>
      <ExperienceCard
        start="may 2020"
        end="jun 2020"
        company="DeltApps"
        link="https://www.linkedin.com/company/deltapps11/"
        role="Intern"
        skills={["Dart", "Flutter", "Firebase"]}
      >
        <p>
          I worked here as a Flutter developer intern and helped in creating an
          e-grocery delivery app.
        </p>
      </ExperienceCard>
      <AnimatedLink
        href="https://drive.google.com/file/d/1uxa5DogpW9DGgBfP32ySv0upkqKh_c-8/view?usp=sharing"
        class="highlight-text interactable"
      >
        Check full Résumé
      </AnimatedLink>
    </StickySection>
    <StickySection sectionTitle="Projects" id="projects">
      <ProjectCard
        name="Markdown Mate"
        image={markdownMate}
        link="https://marketplace.visualstudio.com/items?itemName=azhar.markdown-mate"
        skills={["Typescript", "VS Code Extension", "Markdown"]}
      >
        <p>
          Markdown Mate is a VS Code pluin that allows you to easily create and
          edit markdown files using context menu, command palette and shortcuts.
          With Markdown Mate, you can generate Table of Contents, insert and
          modify markdown tables and format text.
        </p>
      </ProjectCard>
      <ProjectCard
        name="Craiyon Server"
        image={craiyon}
        link="https://github.com/azhar1038/craiyon-server-express"
        skills={[
          "Typescript",
          "Node.js",
          "Express",
          "MySQL",
          "Prisma",
          "Shell Script",
          "REST APIs",
          "JWT",
        ]}
      >
        <p>
          Craiyon is one of my personal project that uses the DALL·E 2 API to
          generate and store images. It allows users to login and generate
          images based on text input and store it privately or make it public
          for all other users to see. For authentication it uses Json Web Token
          along with refresh token rotation to extra security. Frontend is still
          not ready but you can clone the repo and try it yourself locally!
        </p>
      </ProjectCard>
      <ProjectCard
        name="UPI India - Flutter plugin"
        image={upiIndia}
        link="https://pub.dev/packages/upi_india"
        skills={["Java", "Dart", "Flutter", "Android"]}
      >
        <p>
          I created this plugin to integrate payment in flutter apps using
          intent calls to UPI apps. It has around 50 stars in Github and 100+
          likes in Pub. Unfortunately due to improved security in most major UPI
          Apps, support for intent calls is not very stable now resulting in
          archiving of this project.
        </p>
      </ProjectCard>
      <ProjectCard
        name="CCM - Tele ICU"
        image={ccm}
        link="https://play.google.com/store/apps/details?id=com.az.med_plus"
        skills={["Dart", "Flutter", "Firebase", "REST APIs"]}
      >
        <p>
          Me and some of my friends created this app for a local clinic during
          pandemic to help them manage and track patients details and send
          notifications to the doctors attending them based on the report. Later
          we also added a calculator for some common calculations that nurses
          were doing manually. I worked on the app while others did the backend.
        </p>
      </ProjectCard>
      <AnimatedLink href="/projects" class="highlight-text interactable">
        Check all projects
      </AnimatedLink>
    </StickySection>
  </Fragment>
  <p slot="footer">
    This site is built using <a
      href="https://astro.build/"
      target="_blank"
      class="inline-link interactable">Astro</a
    >
    framework. Design is inspired by the amazing work of <a
      href="https://brittanychiang.com/"
      target="_blank"
      class="inline-link interactable">Brittany Chiang</a
    >.
  </p>
</IndexLayout>
